body{
	background-image: url(src/formbg.jpg);
	text-align: center;
}
div{
	float: left;
}
@font-face {
    font-family: myFont;
    src: url(src/PermanentMarker-Regular.ttf);

}
#title{
	font-family: myFont;
}
#input{
	font-size: 20px;
	font-size-adjust: auto;
	width: 420px;
	height: 280px; 	
	background-image: url(src/lines.png);
	padding-left: 45px;
	background-repeat: round;
}
#box{
	display: inline-block;
	padding: 20px;
}
textarea{
	width: 450px;
	height: 150px;
	text-align: center;
}
#tbody{
	padding: 18px;
}
.task{
	width: 240px;
	height: 260px;
	background-image: url(src/notebg.png);
	overflow-y: auto;
  	padding: 20px;
	margin: 20px;	
} 
.datediv{
	float: left;
	font-family:fantasy;
	padding-left: 15px;
}
.desdiv{
	width: 220px;
	height: 150px;
	display: inline-block;
	font-family: noteFont;
}
.task:hover .glyphicon-remove{
	visibility: visible;
}
.glyphicon-remove{
	visibility: hidden;
}
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes fadeOut{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}